  .hero--container {
    position: fixed;
    top: 0px;
    z-index: -1;
  }
  
  .hero--img {
    position: relative;
  }
  
  .hero--gradient {
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(18,18,18,1), rgba(18,18,18,0));
    position: absolute;
  }